*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    padding-left:60px;
    cursor: pointer;
}
nav{
    display: flex;  
    margin-top: 18px;
    align-items: center;
    justify-content: space-between;
}

ul li {
    display:inline-block;
}
nav ul li a{
    color:gray;
    text-decoration: none;
    font-size: 13px;
    padding-left:15px;
    padding-right:15px;
}
.header h1{
    font-size: 70px;
    text-align: center;
    margin-top: 70px;
}
span h4{
    color: gray;
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
}
.button{
    border: 1px solid;
    border-color: rgba(24, 117, 199, 0.849);
    font-size: 10px;
    padding: 10px;
    background-color:white;
    cursor: pointer;
    color: rgba(24, 117, 199, 0.849);
    border-radius: 3px;
    
}
.button:hover{
    color: white;
    background-color: rgba(24, 117, 199, 0.849);
}
.btn{
    margin-top: 60px;
    text-align: center;
    justify-content: center;
    font-weight: 20px;
}
.butn{
    cursor: pointer;
    border-radius: 15px;
    font-size: 9px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.788);
    border: 0.3px ;
    padding: 5px;
}
.pdt{
    padding-top: 15px;
    text-align: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 50px;
    padding-top: 30px;
   
}
.container img{
    width: 250px;
   
}
.sinc{
    background-color: rgb(155, 106, 201);
    padding: 60px 30px 0 30px;
}
.tower{
    background-color: rgb(186, 157, 224);
    padding: 70px 30px 0 30px;
}
.lab{
    background-color: rgb(15, 35, 65);
    padding: 57px 30px 0 30px;
}
.tech{
    background-color: rgb(73, 32, 110);
    padding: 50px 30px 0 30px;
}
.clar{
    background-color: rgb(117, 103, 131);
    padding: 68px 30px 0 30px;
}
.saiva{
    background-color: rgb(93, 77, 109);
    padding: 52px 30px 0 30px;
}
.stan{
    background-color: rgba(180, 130, 226, 0.459);
    padding: 70px 30px 0 30px;
}
.catalyst{
    background-color: rgba(8, 46, 31, 0.582);
    padding: 70px 30px 0 30px;
}
.txv{
    background-color: rgb(107, 92, 121);
    padding: 80px 30px 0 30px;
}
.belay{
    background-color: rgb(163, 135, 189);
    padding: 73px 30px 0 30px;
}
.crc{
    background-color: rgb(15, 35, 65);;
    padding: 70px 30px 0 30px;
}
.new{
    background-color: rgb(53, 22, 82);
    padding: 68px 30px 0 30px;
}
.ascento img{
    width:150px;
}
.c2_logo img{
    width:100px;
    margin-left: 40px;
}
.digi img{
    width:150px;
    margin-left: 40px;
}
.bros img{
    width: 150px;
    margin-left: 40px;
}
.oper img{
    width:150px;
    margin-left: 40px;
}
.icon{
    display: inline-flex;
    padding: 40px;
}
.review img{
    padding-left: 35%;
}
span{
    padding-left: 400px;
    color: aqua;
    font-size: small;
    font-family:serif;
    margin-top: 100px;
    
}
.ft{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-bottom: 100%;
    padding-left: 90px;
    font-size: 10px;
    list-style: none;
}
.ft ul li a{
    text-decoration: none;
    color:white;
}
.ft ul li a:hover{
    color:rgb(49, 192, 192);
}
footer{
    color: white;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.788);
    padding-bottom: 200px;
   
}
.foot span{
    color: rgb(88, 87, 87);
}
.footer h1{
    background-color: rgb(49, 192, 192);
    text-align: center;
    padding:10px;
}
h4{
    color:rgb(29, 85, 107);
    padding-left: 90px;
}
.fot{

    padding-left: 170px;
}
.flex{
    padding-left: 180px;
}
hr{
    margin:0 90px;
    border-width:0.2px;
    color: #333;
    background-color: #333;
}
.ft{
    padding-bottom: 20px;
}
.png img{
    width: 260px;
    padding-bottom: 40px;
    padding-left: 100px;

}
.png hr{
    margin-bottom: 60px;
}
p{
    font-size:small;
    padding-left: 10%;
    padding-bottom:90px;
}


